Button {
  color: red; }

body {
  background-color: black; }

.Background h1 {
  font-size: 50px;
  text-align: center;
  color: yellow; }

.modal-container {
  position: relative; }

#cool {
  height: 300px;
  width: 300px;
  background: red; }
