Button {
  color: red; }

body {
  background-color: black; }

.Background h1 {
  font-size: 50px;
  text-align: center;
  color: yellow; }

.tupper-ware {
  bottom: 0;
  position: fixed;
  width: 100%; }

.modal-container {
  position: relative; }

Button {
  width: 100%; }

#cool {
  height: 300px;
  width: 300px;
  background: red; }

#map {
  margin: 0 auto;
  width: 75%;
  height: 400px;
  background-color: grey; }
